node_modules
.next
out
build
.git
.gitignore
.env*
!.env.production
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*
Dockerfile
.dockerignore
README.md
.vscode
.idea
.DS_Store
coverage
*.tsbuildinfo
next-env.d.ts
